.container {
  list-style: none;
  width: fit-content;
  height: 300px;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-right: 20px;
}

.desc {
  width: 300px;
  max-width: 300px;
  white-space: none;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 150%;
  height: 150px;
}
.detail {
  font-family: var(--default-font-family);
}
