/* components/MediaCard.module.css */
.card {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: auto;
  margin-left: 20px;
  display: inline-block;
  max-width: 100%;
}

.card img {
  height: 300px;
  max-width: 100%;
  width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.metrics {
  text-align: center;
  color: white;
}
