.grid {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.left {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right h1 {
  font-size: 3rem;
}
.right h2 {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.input {
  width: 80%;
  background-color: var(--default-white-color);
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-columns: 80% 20%;
  height: 60px;
}
.input input {
  outline: none;
  border: none;
  padding-left: 20px;
  line-height: 20px;
  font-size: 20px;
}
.input button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--default-white-color);
}
.list ul {
  list-style: none;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.list ul li {
  display: inline-block;
  background-color: var(--accent-color);
  padding: 10px;
  color: var(--default-white-color);
  border-radius: 5px;
  cursor: pointer;
}
