/* Header */
.header {
  z-index: 0;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  max-height: 100vh;
  overflow: hidden;
}
.header img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.fadeInImage {
  scale: 1.8;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  transform-origin: center;
  transition: scale 10s ease;
  z-index: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--t-accent-color);
  padding: 10px;
  border-radius: 2px;
}
.container h1 {
  font-size: 2.4rem;
  color: white;
  width: 500px;
}

.aboutus {
  padding: 13px 22px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  border-radius: 2px;
  z-index: 7;
  transition: 0.5s all ease;
}
.aboutus:hover {
  color: var(--accent-color);
}
.loadingContainer {
  width: 100vw;
  height: 10vh;
  position: absolute;
  bottom: 0;
  z-index: 0;
  left: 0;
}
.loadingBar {
  width: 0%;
  height: 15px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: width 9s ease;
}
/* Quote */
.quoteContainer {
  background-color: var(--default-white-color);
  width: 100%;
  height: fit-content;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.quoteContainer h1 {
  font-family: var(--quote-font-family);
  color: var(--default-black-color);
}
.quoteContainer p {
  padding-left: 400px;
  padding-right: 400px;
  line-height: 200%;
  text-align: center;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 24px;
  background-color: black;
  animation: blink 0.7s infinite;
  margin-left: 2px;
}
/* Director */
.directorContainer {
  width: 100%;
  height: fit-content;
  background-color: var(--accent-color);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 150px;
  padding-right: 150px;
}
.directorContainer h1 {
  text-align: center;
  color: var(--default-white-color);
  font-family: var(--quote-font-family);
}
.directorContainer p {
  text-align: center;
  color: var(--default-white-color);
  font-family: var(--quote-font-family);
  margin-top: 10px;
}
.grid {
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: 50% 50%;
  background-color: var(--default-white-color);
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.grid img {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  object-fit: cover;
}
.grid span {
  line-height: 200%;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  text-overflow: ellipsis;
}
/* Section Class */
.classContainer {
  width: 100%;
  height: fit-content;
  background-color: var(--default-white-color);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 50px;
}
.classContainer li {
  list-style: none;
}
.classContainer li img {
  width: 95%;
  height: 132px;
  object-fit: cover;
}
.classContainer li h1 {
  font-family: var(--default-font);
}
.classContainer li p {
  font-family: var(--default-font);
  padding-right: 50px;
  line-height: 200%;
}
.classContainer li button {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  background-color: var(--accent-color);
  color: var(--default-white-color);
  cursor: pointer;
}
/* Video */
.videoContainer {
  background-color: var(--accent-color);
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 30px;
}
.videoContainer h1 {
  text-align: center;
  color: var(--default-white-color);
  font-family: var(--quote-font-family);
  font-stretch: extra-expanded;
  font-size: 1.5rem;
}
.videoContainer p {
  text-align: center;
  color: var(--default-white-color);
  font-family: var(--quote-font-family);
  margin-top: 10px;
}
.videoBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  width: 700px;
  height: 400px;
  border-radius: 8px;
}
/* Upcoming events */
.upcomingEvents_container {
  width: 100%; /* Set the container width to 100% */
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--default-white-color);
}
.upcomingEvents_container h1 {
  text-align: center;
  color: var(--accent-color);
  font-family: var(--quote-font-family);
}
.left {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 30px;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 6;
  color: var(--default-white-color);
  background-color: var(--accent-color);
  display: none;
}
.right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: var(--default-white-color);
  background-color: var(--accent-color);
  display: none;
}
.list {
  width: 100%;
  height: 200px;
  overflow-y: hidden;
  margin-top: 40px;
  white-space: nowrap;
}
.gallery {
  text-align: center;
  font-family: var(--quote-font-family);
  padding-left: 30px;
  padding-right: 30px;
}
.blog {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  white-space: nowrap;
  position: relative;

  background-color: var(--accent-color);
}
.blog h1 {
  color: white;
  text-align: center;
  font-family: var(--quote-font-family);
}
@media all and (max-width: 767px) {
  .loadingBar {
    display: none;
  }
  .quoteContainer p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .directorContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .grid {
    grid-template-columns: 100%;
    background-color: var(--accent-color);
    box-shadow: none;
    color: var(--default-white-color);
    text-align: center;
  }
  .classContainer {
    grid-template-columns: 100%;
    gap: 30px;
  }
  .classContainer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .classContainer li h1 {
    text-align: center;
  }
  .classContainer li p {
    text-align: center;
    padding: 0;
  }
  .video {
    padding: 20px;
  }
  .left {
    display: block;
  }
  .right {
    display: block;
  }
  .list {
    height: 100%;
  }
}
